body {
    margin: 0px;
}

.top-header {
    background-color: #909090;
    font-family: Roboto, Arial, sans-serif;
    width: auto;
    height: 30px;  
    text-align: center;
    padding-top: 10px;
}

.header {
    background-color: white;
    height: 100px;
    width: auto;
    display:flex;
}

.logo-box {
    display:flex;
    background-color: transparent;
    width: 100px;
    height: 100px;
    align-items: center;
    margin-left: 122px;
    margin-right: 86px;
}

.chat, .share {
    padding-top: 35px;
    padding-bottom: 35px;
}