* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 450;
}

.top-header {
    background-color: #909090;
    width: auto;
    height: 30px;  
    text-align: center;
    padding-top: 5px;
}

.main-header {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-box {
    display:flex;
    background-color: transparent;
    width: 100px;
    height: 100px;
    align-items: center;
}

.chat-share {
    display:flex;
    align-items: center;
    width: 72px;
    height: 30px;
    margin: 35px 86px 35px 86px;
    gap: 12px;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search {
    display: flex;
    font-family: Roboto, Arial, sans-serif;
    font-size: 21px;
    width: 652px;
    background-color: white;
    color: grey;
    border-radius: 5px;
    border-width: thin;
    border-color: lightgray;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 18px;
    padding-right: 21px;
    position: relative;

    background: url(./images/logos-icons/magnifying-glass.svg) no-repeat;
    background-size: 17px;
    background-position: 98% 50%;
    margin-right: 86px;
}

.socials {
    display: flex;
    align-items: center;
    gap: 12px;
}

.slideshow-container {
    position: relative;
}

.slide {
    width: 100%;
    height: auto;
}

.slide-button {
    position: absolute;
    top: 50%;
    background: rgba(144, 144, 144, 0.5);
    color: #2F2F2F;
    border-radius: 50%;
    border-width: 0;
    width: 55px;
    height: 55px;
}

.slide-left {
    margin-left: 50px;
}

.slide-right {
    left: 94%;
}

.bottom-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    margin-top: 12px;
}

.nav-button {
    background-color: #d9d9d9;
    padding: 5px;
    border-width: 0;
    border-radius: 50%;
}

.nav-button:hover {
    background-color: #909090;
}

.nav-button:focus {
    background-color: #909090;
    width: 40px;
    border-radius: 5px;
}

.heading-new-prod {
    margin-left: 252px;
    font-size: 22px;
    font-weight: 550;
}

.product-showcase {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
}

.new-product {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 2px;
    border-color: #FFFFFF;
    box-shadow: 0 0 50px -29px #7F7F7F;
    margin: 32px 16px 32px 16px;
    width: 274px;
    height: 420px;
    font-size: 14px;
    justify-content: top;
    align-items: center;
    padding-top: 32px;
}

.new-product h3 {
    text-align: center;
    margin: 11px 22px 0 22px;
}

.saiba-mais {
    width: 232px;
    height: 32px;
    border-style: solid;
    border-color: #F4811F;
    border-width: 1px;
    border-radius: 6px;
    font-size: 16px;
    color: #F4811F;
    background-color: #FFFFFF;
    align-content: center;
    margin-top: auto;
    margin-bottom: 22px;
}

.saiba-mais:active {
    background-color: #F4811F;
    color:#FFFFFF;
}

.banner {
    height: 97px;
    width: 970px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 68px;
}

.catalog {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: start;
}

.index {
    margin-right: 50px;
    line-height: 35px;
}

.index-categories {
    margin-bottom: 50px;
}

.index p, 
#quantity {
    font-family: "Roboto Light", sans-serif;
}

#quantity {
    color: #848484;
}

.catalog-products {
    display: flex;
    flex-flow: row wrap;
    width: 885px;
    height: 1494px;
    gap: 12px;
    justify-content: space-between;
}

.catalog-products .product {
    display: flex;
    flex-direction: column;
    width: 203px;
    height: 279px;
    border-style: solid;
    border-width: 2px;
    border-color: #FFFFFF;
    box-shadow: 0 0 50px -29px #7F7F7F;
    padding: 6px;
}

.product h3 {
    font-family: "Roboto Bold", sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}

.product p {
    margin-top: 10px;
    font-family: "Roboto Light", sans-serif;
    font-size: 10px;
}

.product h3,
.product h2,
.product p {
    margin-left: 8px;
    margin-right: 8px;
}

.product h2 {
    margin-top: 10px;
    color: #F4811F;
    font-size: 18px
}

.consultar {
    width: 170px;
    height: 32px;
    border-style: solid;
    border-color: #F4811F;
    border-width: 1px;
    border-radius: 6px;
    font-size: 14px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #F4811F;
    background-color: #FFFFFF;
    align-self: center;
    text-align: center;
    margin-top: auto;
}
    
.consultar:active {
    background-color: #F4811F;
    color:#FFFFFF;
}